<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/auto-style.css" type="text/css">
    <title>CGPA Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <button class="contact-btn" onclick="window.location.href='/'">HOME</button>
        <button class="contact-btn" onclick="window.location.href='/contact'">CONTACT</button>
    </div>
    <div class="content">
        <div class="cgpa-container">
            <h1>Automatic Calculation</h1>
            <div>
                <h3>Calculate Automatically</h3>
                <p>Automatically calculate CGPA by uploading an image, incorporating text extraction and optional CGPA calculation</p>
                <p><strong>NB:</strong> Upload image in the exact given size only.</p>
                <p>Example:</p>
                <div class="img-container">
                    <img src="test1.png" alt="CGPA Calculation Example">
                </div>
                <h3>Upload file</h3>
                <form method="post" enctype="multipart/form-data">
                    <div class="upload-space">
                        <p class="up-text">Choose file to upload</p>
                        <input class="inp" name="picture" type="file" placeholder="Upload image">
                    </div>
                    <button type="submit" class="try-btn">Upload</button>
                </form>
            </div>
            {% if data is not none %}
                <form method="post">
                    <input type="hidden" name="data" value='{{ data | tojson | safe }}'>
                    <table>
                        <tr>
                            <th>Subject code</th>
                            <th>Credit Score</th>
                            <th>Grade Point</th>
                        </tr>
                        {% for row in data %}
                            <tr>
                                <td><input name="sub-code" class="td-inp1" type="text" value="{{ row.c_code }}"></td>
                                <td><input name="credit" class="td-inp" type="text" value="{{ row.credit }}"></td>
                                <td><input name="gp" class="td-inp" type="text" value="{{ row.gp }}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <input type="reset" placeholder="submit changes">
                    <p>Check and verify your credit and mark before submitting</p>
                    <button class="try-btn" type="submit">Submit</button>
                </form>
            {% endif %}
            {% if cgp is not none %}
                <h2>Your CGPA is :{{ cgp }}</h2>
            {% endif %}
            <p>If you're facing any type of errors, try using the manual method.</p>
            <a onclick="window.location.href='/manual'"><h2>Try Manual</h2></a>
        </div>
    </div>
    <footer></footer>
</body>
</html>
