<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <title>CGPA Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <button class="contact-btn" onclick="window.location.href='/contact'">CONTACT</button>
    </div>
    <div class="content">
        <div class="cgpa-container">
            <h1>CGPA CALCULATOR</h1>
            <p>Calculate your CGPA by Uploading the Image</p>
            <button type="submit" class="sub-btn" onclick="window.location.href='/upload'">Calculate CGPA</button>
        </div>
    </div>
    <footer><p>Copyright ©️ 
            <a href="https://github.com/S4DIQ84">Mohammed Sadiq</a>
        </p></footer> 
</body>
</html>
