<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/manual.css" type="text/css">
    <title>CGPA Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <button class="contact-btn" onclick="window.location.href='/'">HOME</button>
        <button class="contact-btn" onclick="window.location.href='/contact'">CONTACT</button>
    </div>
    <div class="content">
        <div class="cgpa-container">
            <h1 class="">Manual Calculation</h1>
            <div>
                <h3>Calculate Manually</h3>
                <form action="">
                    <label for="">Subject Code</label><br>
                    <input class="inp-box" type="text"><br>
                    <label for="">Credit</label><br>
                    <input class="inp-box" type="number"><br>
                    <label for="">Mark</label><br>
                    <input class="inp-box" type="number"><br>
                    <input class="add" type="button" value="Add">
                </form>
            </div>
            <form action="">
                <table>
                    <tr>
                            <th>Subject code</th>
                            <th>Credit Score</th>
                            <th>Mark</th>
                    </tr>
                    <tr>
                        <td><input class="td-inp1" type="text"></td>
                        <td><input class="td-inp" type="text"></td>
                        <td><input class="td-inp" type="text"></td>
                    </tr>
                    <tr>
                        <td><input class="td-inp1" type="text"></td>
                        <td><input class="td-inp" type="text"></td>
                        <td><input class="td-inp" type="text"></td>
                    </tr>
                    <tr>
                        <td><input class="td-inp1" type="text"></td>
                        <td><input class="td-inp" type="text"></td>
                        <td><input class="td-inp" type="text"></td>
                    </tr>
                </table>
                <p>Check and verify your credit and mark before submitting</p>
                <button class="try-btn" type="submit">Submit</button>
            </form>
            <p>If you're facing any type errors, try using manual method.</p>
            <a href="manual.html"><h2>Try Manual</h2></a>
        </div>
    </div>
    <footer></footer>
</body>
</html>
