<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/manual.css" type="text/css">
    <title>CGPA Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="nav-bar">
            <button class="contact-btn" onclick="window.location.href='/'">HOME</button>
            <button class="contact-btn" onclick="window.location.href='/contact'">CONTACT</button>
        </div>
        <div class="content">
            <div class="cgpa-container">
                <h1>Manual Calculation</h1>
                <div>
                    <h3>Calculate Manually</h3>
                    <form method="post">
                        <label for="sub">Subject Code</label><br>
                        <input class="inp-box" name="sub" type="text" required><br>
                        <label for="cred">Credit</label><br>
                        <input class="inp-box" name="cred" type="number" required><br>
                        <label for="mark">Mark</label><br>
                        <input class="inp-box" name="mark" type="number" required><br>

                        {% if data %}
                            {% for entry in data %}
                                <input type="hidden" name="data" value="{{ entry['s'] }}|{{ entry['c'] }}|{{ entry['m'] }}">
                            {% endfor %}
                        {% endif %}

                        <button class="try-btn" type="submit" name="add_entry">Add</button>
                    </form>
                </div>

                {% if data %}
                <form method="post">
                    <table>
                        <tr>
                            <th>Subject Code</th>
                            <th>Credit Score</th>
                            <th>Mark</th>
                        </tr>
                        {% for entry in data %}
                        <tr>
                            <td><input type="text" name="sub" value="{{ entry['s'] }}"></td>
                            <td><input type="text" name="credit" value="{{ entry['c'] }}"></td>
                            <td><input type="text" name="marks" value="{{ entry['m'] }}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p>Check and verify your credit and mark before submitting</p>
                    {% for entry in data %}
                        <input type="hidden" name="data" value="{{ entry['s'] }}|{{ entry['c'] }}|{{ entry['m'] }}">
                    {% endfor %}
                    <button class="try-btn" type="submit" name="calculate">Submit</button>
                </form>
                {% endif %}

                {% if cgp is not none %}
                    <h2>Your CGPA is: {{ cgp }}</h2>
                {% endif %}
            </div>
        </div>
        <footer>
            <p>&copy; 2024 CGPA Calculator. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
